.box::after{
    content: '';
    display: block;
    position: absolute;
    top: 0 left 0;
    height: 1.5rem;
    width: 5px;
    border-radius: 0 5px 5px 0;
    margin-left: -5px;
    background-color: var(--secondary);
}
/* Order box */
.order{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 4px 0;
    margin-top: 0.5rem;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}
.order:last-child{
    border-bottom: none;
}
.order .left{
    display: block;
    width: 5%;
}
.order .center{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 6px;
    width: 70%;
}
.order .right{
    display: block;
    width: 25%;
}
.price{
    display: inline-block;
    width: 90%;
    max-width: 120px;
    margin: 0 auto;
    padding-right: 2px;
    text-align: right;
    font-size: 13px;
    font-weight: 500;
}
.center .price{
    width: 100%;
    max-width: none;
    text-align: left;
}
.item-name{
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 4px;
}
/* BIll Summary box */
.bill-summary div{
    margin: 0.25rem 0.5rem;
    display: flex;
    justify-content: space-between;
}
.item-total span{
    font-size: 12px;
    font-weight: 500;
}
.extra-charges span{
    font-size: 12px;
}
.grand-total span{
    font-size: 16px;
    font-weight: 500;
}
.coupons{
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    margin-right: 0.5rem;
    color: rgb(4, 145, 246);
    font-size: 14px;
    font-weight: 500;
}
.coupons i{
    font-size: 20px;
    color: rgb(4, 145, 246);
}