/* Header */
header .right{
    display: flex;
    justify-content: space-evenly;
    padding-right: 8px;
    width: 70%;
}
.search-box{
    display: flex;
    height: 2rem;
    width: 75%;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--primary);
    border-radius: 1rem;
    padding: 5px;

}
.search{
    display: block;
    width: 80%;
    height: 2rem;
    padding-left: 5px;
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
    caret-color: var(--secondary);
}
.search-box .bx{
    height: 2rem;
    line-height: 2rem;
    font-size: 16px;
    color: var(--secondary);
}
.share-btn{
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    background-color: var(--primary);
}
.restraunt-name{
    font-size: 1.5rem;
    font-weight: 500;
}
.rating{
    height: 2rem;
    width: auto;
    padding: 5px 8px;
    align-items: center;
    font-size: 1rem;
    color: var(--primary);
    font-weight: bold;
    text-align: center;
    border-radius: 1rem;
    background-color: var(--green);
}
.rating .bx{
    color: var(--primary);
    margin: 0 0 0 4px;
    font-size: 14px;
}
.offers{
    overflow-x: auto;
    margin-top: 1rem;
}
.offer{
    padding: 2px;
    min-width: 55%;
    height: auto;
    align-items: center;
    margin-right: 1rem;
    border-radius: 8px;
    background-color: var(--blue-light);
}
.offer-title{
    font-size: 14px;
    font-weight: bold;
}
.offer-description{
    margin-top: 5px;
    font-size: 12px;
    font-weight: light;
}
.offer .box{
    margin: 0;
}
.offer .bx{
    font-size: 24px;
    color: var(--blue);
    margin: 0 0.5rem;
}
/* Dishes section */
.dishes{
    width: 100vw;
    margin: 0;
    margin-left: -0.5rem; /* To Cancel the padding of container */
    background-color: var(--primary);
}
.dish{
    width: 100%;
    padding: 5px;
    border-bottom: 1px dashed var(--primary-text-light);
}
.dish:last-child{
    border-bottom: none;
}
.dish .left{
    width: calc(100% - 15rem);
    flex-direction: column;
    justify-content: flex-start;
}
.veg_non-veg{
    margin:0 0 5px -2px;
}
.dish-name{
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.dish-price, .dish-description{
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
}
.dish-description{
    color: var(--primary-text-light);
}
.dish .right{
    height: 11rem;
    width: 10rem;
    overflow: hidden;
    text-align: center;
}
.dish-image{
    width: 9rem;
    height: 9rem;
    border-radius: 1rem;
}
.cart-options{
    margin-top: 0;
    height: 2rem;
    transform: translateY(-50%);
}
.cart-options.add{
    color: var(--secondary);
    align-items: center;
    justify-content: center;
}
.category-slider{
    flex-direction: row;
    width: 100vw;
    margin-left: -0.5rem;
    border-radius: none;
}
.category-slider span{
    display: block;
    height: 2rem;
    line-height: 2rem;
    border-radius: 1rem;
    color: var(--secondary);
    padding: 0 0.5rem;
    margin: 0 4px;
    background-color: var(--secondary-light);
}
.category-slider span.active{
    background: var(--secondary);
    color: var(--primary)
}
.cart-btn{
    z-index: 2;
    position: fixed;
    bottom: 0.5rem;
    margin-left: calc(2.5vw - 0.5rem);
}
/* Product Box */
.product{
    z-index: 3;
    display: grid;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0; left: 0;
    padding: 0;
    border-radius: 0%;
    background-color: rgba(0,0,0,0.55);
}
.top-container{
    align-items: center;
    justify-content: center;
}
.top-container i{
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    border-radius: 50%;
    background-color: var(--primary);
}
.product-container{
    width: 100%;
    border-radius: 1rem;
    overflow-y:scroll;
    background-color: var(--primary);
}
model-viewer{
    width: 100%;
    height: 100vw;
    max-height: 400px;
    background-color: var(--primary);
}
.product-info {
    padding: 0.5rem;
}
.product-info .top-row{
    align-items: center;
    padding: 0.5rem 0;
    padding-right: 0.5rem;
}
.product-info .product-name{
    font-weight: 600;
    font-size: 1.25rem;
}
.product-info .product-price,.product-info .product-description{
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-text-light);
}
.footer{
    align-items: center;
    justify-content: center;
}
.footer .cart-options{
    height: 3rem;
    width: 160px;
    max-width: none;
    margin: 0;
    font-size: 1.25rem;
    font-weight: 500;
    transform: translate(0);
}
.footer .cart-options i{
    font-size: 1.5rem;
}