*{
    margin: 0;
    padding: 0;
}
model-viewer{
    display: block;
    height: 100vh;
    min-width: 100vw;
}
:root{
    --container-height: clamp(150px,20vh,250px);
    /* --container-height: 0px; */
}
#ar-button {
    background-image: url(../assets/img/icons/ic_view_in_ar_new_googblue_48dp.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 12px 50%;
    background-color: #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    /* transform: translateX(-50%); */
    white-space: nowrap;
    bottom: 132px;
    padding: 0px 16px 0px 40px;
    font-family: Roboto Regular, Helvetica Neue, sans-serif;
    font-size: 14px;
    color: #4285f4;
    height: 36px;
    line-height: 36px;
    border-radius: 18px;
    border: 1px solid #DADCE0;
}
#ar-button:active {
    background-color: #E8EAED;
}

#ar-button:focus {
    outline: none;
}

#ar-button:focus-visible {
    outline: 1px solid #4285f4;
}
.swipe-ar-container{
    display: flex;
    position: fixed;
    bottom: 70px; left: 0;
    background-color: transparent;
    align-items: center;
    height: var(--container-height);
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
}
.swipe-ar-dish{
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 80%;
    height: calc(100% - 25px);
    margin: 5px;
    scroll-snap-align: center;
    background: var(--primary);
    border-radius: 10px;
    padding: 10px;
}
.swipe-ar-dish .left-top{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 100%;
    max-height: 20px;
}
.swipe-ar-dish img{
    height: 20px;
    width: 20px;
    margin-right: 15px;
}
.swipe-ar-dish .dish-name{
    display: block;
    height: 2rem;
    line-height: 2rem;
    font-size: 1rem;
    font-family: var(--font);
    color: var(--primary-text);
    font-weight: 500;
    margin: 0;
}
.swipe-ar-dish .dish-description,.swipe-ar-dish .dish-price{
    display: block;
    font-size: 0.8rem;
    font-family: var(--font);
    color: var(--primary-text-light);
    margin:0 0 5px 0;
}
.ar-menu{
    position: relative;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: calc(var(--container-height) + 75px);
    left: 0px;
    height: 30px;
    width: 100vw;
}
.ar-menu-btn{
    display:inline-block;
    min-height: 30px;
    line-height: 30p;
    width: auto;
    padding: 2px 5px 0;
    padding-right: 8px;
    border-radius: 10px;
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 500;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: var(--primary);
}
.ar-menu-tab{
    position: absolute;
    bottom: 35px; right: 0;
    display:inline-block;
    height: auto;
    max-height: calc(100vh - calc(var(--container-height) + 150px) );
    overflow-y: scroll;
    width: 85vw;
    list-style: none;
    padding: 12px;
    border-radius: 10px;
    font-family: 'Poppins';
    margin-right: 10px;
    background-color: var(--primary);
}
.ar-menu-tab h1{
    font-weight: bold;
    font-size: 1.25rem;
    font-family: 'Poppins';
    margin-bottom: 10px;
    color: var(--primary-text);
}
.ar-menu-tab li{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins';
    margin-bottom: 10px;
    color: var(--primary-text-light);
}
.ar-menu-tab li.active, .ar-menu-tab li:hover, .ar-menu-tab li:active{
    color: var(--secondary);
}
.ar-menu-tab li.active span, .ar-menu-tab li:active span, .ar-menu-tab li:hover span{
    color: var(--secondary);
}
.cart-tab{
    position: fixed;
    bottom: 0; left: 0;
    height: 65px;
    width: 100vw;
    background-color: var(--secondary);
}